* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* for common uses */
button {
  width: 8rem;
  height: 2.5rem;
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

button:hover {
  border: 1px solid #ff900e;
  color: black;
  background-color: white;
  transform: translateY(-5px);
}

p {
  color: #727272;
  font-size: 14px;
}
/* ====================== */
/* header start from here */
header {
  background-color: #ff900e1a;
  padding: 2rem 6rem;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

header > nav > ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
header > nav > ul > li {
  transition: color 0.3s;
}
header > nav > ul > li:hover {
  cursor: pointer;
  color: #ff900e;
}

header > .head-container {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header > .head-container > h1 {
  font-size: 35px;
}

header > .head-container > img {
  width: 100%;
}

/* header end here */

/* features class start here*/
.features {
  margin: 4rem 7rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 3rem;
}

.features > .feature-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.features > .feature-left > img {
  width: 100%;
}

.features > .feature-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.features > .feature-right > h1 > span:nth-child(1) {
  font-weight: normal;
  color: #727272;
}
.features > .feature-right > h1 > span:nth-child(4) {
  color: #ff900e;
}

/* features class ends here */

/* experience class start here */
.experience {
  margin: 4rem 6rem;
  display: flex;
  gap: 3rem;
}

.experience > .experience-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience > .experience-left > h1 {
  border-left: 4px solid #ff900e;
  padding-left: 1rem;
}

.experience > .experience-left > p {
  color: #727272;
  font-size: 14px;
}

.experience > .experience-left > .box {
  padding: 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.061);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.experience > .experience-left > .box > span {
  font-weight: bold;
  color: black;
}

.experience > .experience-right {
  width: 100%;
  flex: 1;
  position: relative;
}

.experience > .experience-right > img {
  flex: 1;
  width: 100%;
}

.experience > .experience-right > button {
  position: absolute;
  left: -0.8rem;
  bottom: -0.8rem;
  width: 12rem;
  height: 7rem;
}

.experience > .experience-right > button > h1 {
  font-size: 35px;
}

/* here experience class ends */
/* fact class start here */
.fact {
  margin: 4rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fact > .fact-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fact > .fact-contents > .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ff900e;
  border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fact > .fact-contents > .content:hover {
  background-color: #ff900e;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/* fact class ends here */
/* sponsor class start here */
.sponsor {
  margin: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.sponsor > .sponsor-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sponsor > .sponsor-contents > img {
  transform: scale(0.8);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

/* sponsor class ends here */
/* offer class start here */
.offer {
  margin: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.offer > h1 {
  text-align: center;
}

.offer > h1 > span {
  color: #ff900e;
}

.offer > .offer-points {
  border-left: 2px solid #ff900e;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.197);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1rem;
}

.offer > .offer-points > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offer > .offer-points > ul > li > i {
  color: #727272;
}

/* footer start here */
footer {
  margin: 4rem 6rem;
}

footer > p {
  background-color: #ff900e1a;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive design start here */

@media screen and (max-width: 776px) {
  p {
    font-size: 10px;
    width: 90%;
  }

  /* for responsive header */
  header {
    width: 94%;
    padding: 1rem 1rem;
  }
  header > nav {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  header > nav > ul {
    flex-direction: column;
    gap: 1rem;
  }
  header > .head-container {
    text-align: justify;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  header > .head-container > h1 {
    font-size: 25px;
  }

  header > .head-container > img {
    width: 100%;
  }

  /* for responsive feature */
  .features {
    margin: 2rem 1rem;
    width: 94%;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .features > .feature-left {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }

  .features > .feature-left > img {
    width: 100%;
  }

  .features > .feature-right {
    width: 94%;
    margin: 2rem 1rem;
    align-items: center;
    text-align: center;
  }

  /* for responsive experience */
  .experience {
    margin: 2rem 1rem;
    /*margin: 0;*/
    flex-direction: column;
    width: 94%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .experience > .experience-left > .box {
    padding: 1rem;
    width: 94%;
    text-align: left;
  }

  .experience > .experience-right {
    width: 400px;
    height: 700px;
  }

  .experience > .experience-right > img {
    width: 100%;
  }

  .experience > .experience-right > button {
    left: 100px;
    bottom: 20px;
  }

  /* for responsive fact */
  .fact {
    margin: 2rem 1rem;
    width: 94%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fact > .fact-contents {
    flex-direction: column;
    gap: 2rem;
  }

  .fact > .fact-contents > .content {
    width: 100%;
  }

  .fact > .fact-contents > .content > p {
    text-align: center;
  }

  /* for responsive sponsor */
  .sponsor {
    margin: 2rem 1rem;

    align-items: center;
    justify-content: center;
    text-align: center;
    width: 94%;
  }

  .sponsor > .sponsor-contents {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  /* for responsive offer */
  .offer {
    margin: 2rem 1rem;
    width: 94%;
    align-items: center;
    justify-content: center;
  }

  /* for responsive footer */
  footer {
    margin: 2rem 1rem;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
